.slider-item {
  margin-right: 18px;
  padding: 22px;
  box-sizing: border-box;
  height: 182px;
  width: 369px;
  background-color: #2d2d2d;
  border-radius: 12px;
}
.carousel-slider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 200px;
}
.review {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.55);
  font-size: 15px;
}
.author {
  color: #fff;
  font-size: 18px;
  margin-bottom: 3px;
}
.review-add {
  background: none;
  border: none;
  color: #0a84ff;
  font-size: 15px;
  position: absolute;
  inset: auto 20px 17px auto;
}
.review-pop {
  background-color: #2d2d2d;
  width: 700px;
  height: 800px;
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 999;
  border-radius: 20px;
  padding: 60px;
  box-sizing: border-box;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}
.author-p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.review-p-textbox {
  overflow: auto;
  height: 640px;
}
.review-p {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
}
.review-add-p {
  position: absolute;
  background: none;
  border: none;
  right: 20px;
  top: 20px;
  width: 35px;
  font-weight: bold;
}
.review-add-p:hover {
  opacity: 0.9;
}
