.banner {
  height: 56vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::before {
  content: "";
  background: linear-gradient(to top, #000, transparent);
  position: absolute;
  left: 0;
  top: 0;
  height: 56vh;
  width: 100%;
}
.text-white {
  color: #fff;
}
.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.banner-text-area h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.banner-text-area p {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .banner-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 3rem 1.3rem;
    position: relative;
    z-index: 1;
  }

  .banner-text-area h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .banner-text-area p {
    font-size: 18px;
  }
}
