.banner {
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0000005d, transparent 80%);
  z-index: 1;
}
.text-white {
  color: #fff;
}
.banner-text-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px;
  z-index: 2;
}

.banner-text-area h2 {
  font-size: 30px;
  font-weight: bold;
}
.banner-text-area p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
}
.play-bt {
  width: 100%;
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 8px;
  padding: 8px 0;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .banner-text-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
    text-align: center;
  }
  .banner-text-area h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .banner-text-area p {
    font-size: 14px;
  }
  .play-bt {
    width: 200px;
    background-color: #fff;
    border: none;
    color: #000;
    border-radius: 8px;
    padding: 8px 0;
    font-weight: bold;
    font-size: 16px;
    margin: auto;
  }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000c5 0%, transparent 50%);
    z-index: 1;
  }
  .banner {
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
    position: relative;
  }
}
